<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="./common.css" />
		<script src="common.js"></script>
	</head>
	<body>
		<div id="slidershow" class="carousel slide" data-ride="carousel" data-interval = 3000 data-pause = "hover" data-wrap="true" style="margin-top: 5rem; width: 50%;height: 50%; margin-left:auto; margin-right:auto;">
				 <!-- 设置图片轮播的顺序 -->
				 <ol class="carousel-indicators">
				 <li class="active" data-target="#slidershow" data-slide-to="0" ></li>
				 <li data-target="#slidershow" data-slide-to="1"></li>
				 <li data-target="#slidershow" data-slide-to="2"></li>
				 </ol>
				 <!--设置轮播的图片-->
				 <div class="carousel-inner">
				 <div class="item active">
				 <img src="../../JavaWeb/web.site/images/tad1.png" alt="cat1">
				 </div>
				 <div class="item">
				 <img src="../../JavaWeb/web.site/images/tad2.png" alt="cat2">
				 </div>
				 <div class="item">
				 <img src="../../JavaWeb/web.site/images/tad3.png" alt="cat3">
				 </div>
				 </div>
				 <a class="left carousel-control" href="#slidershow" role="button" data-slide="prev" >
				 <span class="glyphicon glyphicon-chevron-left"></span>
				 </a>
				 <a class="right carousel-control" href="#slidershow" role="button" data-slide="next">
			     <span class="glyphicon glyphicon-chevron-right"></span>
			     </a> 
				</div>
		

		
	</body>
</html>
