*{
	margin: 0px;
	padding: 0px;
}
#header{
	margin-bottom: 0px;
	margin-top: 0px;
	color: rgb(255,255,255);
}
#header h1.text-center{
	margin-top: 0px;
	padding-top: 20px;
}
.page-header{
	background-color: rgb(140,98,215);
}
.icon{
	margin-right: 20px;
} 
#sideNavigation{
	width: 160px;
	height: 100%;
	background-color: rgb(45,49,68);
	color: rgb(150,153,174);
	/*#7f00ff,#b200ff*/
	font-size: 20px;
	margin-top: 0px;
}
#sideNavigation a{
	color: #fcfcfc;
}
.footer {
	border-top: 1px solid #e5e5e5;
	color: #fcfcfc;
	padding: 19px 0;
	background-color: #190023;
}
.footer-bottom{
	color: white;
}